<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quanly_hssv">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quanly_HSSV">
        <activity
            android:name=".reset_pass"
            android:exported="false" />
        <activity
            android:name=".Create_user"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityTruso"
            android:exported="false" />
        <activity
            android:name=".ActivityContact"
            android:exported="false" />
        <activity
            android:name=".model.ActivityNhanvien"
            android:exported="false" />
        <activity android:name=".ActivityUpdateNhanvien" />
        <activity android:name=".ActivityInformationNhanvien" />
        <activity android:name=".ActivityAddNhanvien" />
        <activity android:name=".ActivityInformationDuan" />
        <activity android:name=".ActivityNhanvien" />
        <activity android:name=".ActivityUpdateDuan" />
        <activity android:name=".ActivityAddDuan" />
        <activity android:name=".ActivityDuan" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>